<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444814057187-kl3f226s2tgf75b8uftbc1dg1p460ud9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444814057187-kl3f226s2tgf75b8uftbc1dg1p460ud9</string>
	<key>API_KEY</key>
	<string>AIzaSyD5eiiZPfeuGgZqcGSPCXBBFBqg6ZuLwFc</string>
	<key>GCM_SENDER_ID</key>
	<string>444814057187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lvv12001.TaskManager</string>
	<key>PROJECT_ID</key>
	<string>todolist-7ae92</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-7ae92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444814057187:ios:6c97f5286d90d14cadefd6</string>
</dict>
</plist>